<!doctype html>
<html lang="en" style="width:100%;height:100%;margin:0;padding:0;border:0;">
<head>
    <link rel='stylesheet' href='./luckysheet/plugins/css/pluginsCss.css' />
    <link rel='stylesheet' href='./luckysheet/plugins/plugins.css' />
    <link rel='stylesheet' href='./luckysheet/css/luckysheet.css' />
    <link rel='stylesheet' href='./luckysheet/assets/iconfont/iconfont.css' />

    <script src="./luckysheet/plugins/js/plugin.js"></script>
    <script id ='luckysheetscript' src="./luckysheet/luckysheet.umd.js"></script>

    <script src="./luckyexcel.umd.js"></script>
    <script src="./baselib/static/vue.js"></script>
    <script src="./baselib/static/element-ui/index.js"></script>
    <script src="./baselib/static/axios.min.js"></script>
    <script src="./baselib/static/vue-clipboard.min.js"></script>
    <script src="./baselib/static/vue-router.js"></script>
    <script src="./baselib/static/httpVueLoader.js"></script>
    <script src="./baselib/static/jszip.min.js"></script>
    <script src="./baselib/src/siYuanApi.js"></script>
    <script src="./polyfill.js"></script>

    <script src="./exceljs.bare.js"></script>

    <link rel="stylesheet" href="/widgets/baselib/static/element-ui/theme-chalk/index.css">
</head>
<body>
    <div id = 'app'>
        <div v-if="需要重新设定路径">无法获取数据,或许可以尝试通过资源值为"widgets/cc-sy-luckysheet"的iframe块插入</div>
            <el-row >  
                <el-col :span="6">
                    <el-tooltip content="保存时使用的名字,就是挂件块的命名属性">
                    <el-input size=mini :clearable="false" v-model="文件名">
                        <span slot="prepend">文件名</span>
                    </el-input>
                </el-tooltip>
                </el-col>
                <el-col :span="18">  
                <el-button @click="保存表格数据()"
                size="mini">
                    保存数据附件
                </el-button>
                    <el-button @click="重新加载表格数据()"
                    size="mini">
                        重新加载数据
                    </el-button>
                    <input 
                    accept=".xlsx" 
                    type="file" 
                    ref="file" 
                    @change="转化上传文件()"
                    style="display:none" 
                    size=mini
                    />
                        <el-button @click="点击上传窗口()" size="mini" >
                        导入xlsx文件
                        </el-button>
                   
                        <el-button @click="导出xlsx文件 ()" size="mini" >
                        导出xlsx文件
                        </el-button>
                </el-col>
               
            </el-row>
        <div>
         <div id="luckysheet" ref="luckysheet" @click="聚焦()" style="margin:0px;padding:0px;position:absolute;width:100%;height:90%;left: 0px;top:60px;"></div>
        </div>
    </div>
</body>
<script>
    禁止滚动=function(event){
        console.log(event)
        event.stopPropagation()
        event.preventDefault()
    }
    window.addEventListener('click',禁止滚动,{once:true})

    Vue.use(httpVueLoader);

  //  Vue.use(VueRouter);
    var vm = new Vue({
        el: "#app",
        data(){
            return{
                表格文件地址:"",
                表格文件数据:{},
                主界面:{},
                文档标题元素:{},
                文档头图元素:{},
                apitoken:"",
                需要重新设定路径:false,
                hosturl:"",
                挂件自身元素:"",
                挂件自身id:"",
                文件名:""
            }
        },
        components:{"cc-assets-selector":"url:components/cc-assets-selector.vue",},
        mounted:async function() {
            let that = this
            that.hosturl = window.location.host
            
            that.获取主界面()
            that.获取挂件自身元素()
            that.文件名 = this.挂件自身元素.getAttribute("name")||"未命名"
            try{await that.重新加载表格数据()}
            catch(e){that.初始化表格()}
            
        },
        watch:{
            文件名:{
                async handler(val){
                    if(val){
                        let that = this
                        this.获取挂件自身元素()
                        this.挂件自身元素.setAttribute("name",val)
                        await 设置思源块属性(that.hosturl,that.apitoken,that.挂件自身id,'name',val)
                    }
                }
            }
        },
        methods:{
            聚焦:function(){
                event.stopPropagation()
        event.preventDefault()

                this.$refs.luckysheet.focus()
            },
            点击上传窗口:function(){
                this.$refs.file.click();
            },
            转化上传文件:function(){
                console.log(event.target.files[0])
                let reader =new FileReader()
                let excel数据 = this.$refs.file.files[0]
                this.文件名 = excel数据?excel数据.name.replace(".xlsx","")||"未命名":"未命名"
                reader.readAsDataURL(excel数据)
                console.log(excel数据)
                LuckyExcel.transformExcelToLucky(excel数据,
                    function(exportJson, luckysheetfile){
                                
                    if(exportJson.sheets==null || exportJson.sheets.length==0){
                        alert("仅支持.xlsx文件");
                        return;
                    }
                    window.luckysheet.destroy();
                    
                    window.luckysheet.create({
                        container: 'luckysheet', //luckysheet is the container id
                        showinfobar:false,
                        data:exportJson.sheets,
                        title:exportJson.info.name,
                        userInfo:exportJson.info.name.creator
                    });

                })
                },
            保存表格数据:async function(){
                let that = this
                console.log(luckysheet.getAllSheets())
                this.表格文件数据=luckysheet.getAllSheets()
                let 表格数据blob = new Blob([JSON.stringify(that.表格文件数据)],{type:'application/json'})
                let 表格文件 = new File([表格数据blob],`dataof${this.文件名}-${this.挂件自身id}.json`,{lastModified:Date.now()})
               
                let data =  new FormData
                data.append('assetsDirPath','/assets/')
                data.append('file[]',表格文件)
                let url = 'http://'+that.hosturl+'/api/asset/upload'
                let filepath = ""
                await fetch(url,{
                    body: data,
                    method:'POST',
                    headers:{'Authorization': 'Token '+ that.apitoken },
                }).then(
                    function(response){
                    console.log(response)
                    return response.json()
                    }
                ).then(function(resData){
                console.log(resData)
                let succMap = resData['data']['succMap']
                console.log(succMap)
                for(item in succMap){
                    filepath = filepath+succMap[item]
                    console.log(filepath)
                }
                //that.挂件自身元素.setAttribute('custom-data-assets',filepath)
                that.挂件自身元素.setAttribute('data-assets',filepath)
                })
                await 设置思源块属性(that.hosturl,that.apitoken,that.挂件自身id,'data-assets',filepath)
            },
         
            获取主界面(){
                let that = this
                try{
                that.主界面 = window.parent.document}
                catch(e){this.需要重新设定路径=true}
            },
            获取挂件自身元素(){
                let that =this
                that.挂件自身元素 = self.frameElement.parentElement.parentElement
                挂件iframe = self.frameElement
                if(that.挂件自身元素){
                    that.挂件自身id = that.挂件自身元素.getAttribute("data-node-id")
                    挂件iframe.setAttribute("style",挂件iframe.getAttribute("style")+'border-left:none;border-right:none;')
                    }
                else{return null}
            },
            初始化表格(表格文件数据){
                    //配置项
                    let options = {
                        container: 'luckysheet',
                        showinfobar:false,
                        lang:"zh",
                        plugins:['chart'],

                    }
                    if (表格文件数据){
                        options.data=表格文件数据
                    }
                    luckysheet.create(options)
                    this.聚焦到表格(event)
            },
            聚焦到表格(event){
                event.preventDefault();
                let 挂件自身元素=this.挂件自身元素
                console.log(挂件自身元素.parentElement.scrollTop)
                document.getElementById("luckysheet-sheettable_0").click()
                
            },  
            重新加载表格数据:async function(){
                let that =this
                let filepath=that.挂件自身元素.getAttribute('data-assets')
                let url = 'http://'+that.hosturl+'/'+filepath
                await axios.get(url).then((res)=>{
                    that.表格文件数据 = res.data
                }) 

                console.log(JSON.parse(JSON.stringify( that.表格文件数据)))
                that.初始化表格(that.表格文件数据)

            },
            async 导出xlsx文件 (){
                let that = this
                let 表格文件数据=luckysheet.getLuckysheetfile()
                let 工作簿 =  await this.转化工作表(表格文件数据)
                let 表格数据blob = new Blob([工作簿],{type:'application/xlsx'})
                this.获取挂件自身元素()
                let fileName = this.挂件自身元素.getAttribute("name")+".xlsx"||"未命名"
                var 虚拟链接 = document.createElement("a");
                虚拟链接.download = fileName || "download";
                虚拟链接.href = URL.createObjectURL(表格数据blob);
                虚拟链接.click();
                setTimeout(function () {
                    URL.revokeObjectURL(表格数据blob);
                }, 100);
            },
            async 转化工作表(luckysheet){
                var exportExcel =  async function (luckysheet) { // 参数为luckysheet.getluckysheetfile()获取的对象
                    // 1.创建工作簿，可以为工作簿添加属性
                    const workbook = new ExcelJS.Workbook()
                    // 2.创建表格，第二个参数可以配置创建什么样的工作表
                    luckysheet.every(function (table) {
                        if (table.data.length === 0) return true
                        const worksheet = workbook.addWorksheet(table.name)
                        // 3.设置单元格合并,设置单元格边框,设置单元格样式,设置值
                        setStyleAndValue(table.data, worksheet)
                        setMerge(table.config.merge, worksheet)
                        setBorder(table.config.borderInfo, worksheet)
                        return true
                    })
                    // 4.写入 buffer
                    const buffer = await workbook.xlsx.writeBuffer()
                    return buffer
                }

                var setMerge = function (luckyMerge = {}, worksheet) {
                    const mergearr = Object.values(luckyMerge)
                    mergearr.forEach(function (elem) { // elem格式：{r: 0, c: 0, rs: 1, cs: 2}
                        // 按开始行，开始列，结束行，结束列合并（相当于 K10:M12）
                        worksheet.mergeCells(elem.r + 1, elem.c + 1, elem.r + elem.rs, elem.c + elem.cs)
                    })
                }

                var setBorder = function (luckyBorderInfo, worksheet) {
                    if (!Array.isArray(luckyBorderInfo)) return
                    luckyBorderInfo.forEach(function (elem) {
                        let border = borderConvert(elem.borderType, elem.style, elem.color)
                        console.log(elem)
                        let rang = elem.range[0]
                        // console.log(rang.column_focus + 1, rang.row_focus + 1)
                        worksheet.getCell(rang.row_focus + 1, rang.column_focus + 1).border = border
                    })
                }
                var setStyleAndValue = function (cellArr, worksheet) {
                    if (!Array.isArray(cellArr)) return
                    cellArr.forEach(function (row, rowid) {
                        row.every(function (cell, columnid) {
                            if (!cell) return true
                            let fill = fillConvert(cell.bg)
                            let font = fontConvert(cell.ff, cell.fc, cell.bl, cell.it, cell.fs, cell.cl, cell.ul)
                            let alignment = alignmentConvert(cell.vt, cell.ht, cell.tb, cell.tr)
                            let value
                            if (cell.f) {
                                value = { formula: cell.f, result: cell.v }
                            } else {
                                value = cell.v
                            }
                            let target = worksheet.getCell(rowid + 1, columnid + 1)
                            target.fill = fill
                            target.font = font
                            target.alignment = alignment
                            target.value = value
                            return true
                        }) 
                    })
                }

                var fillConvert = function (bg) {
                    if (!bg) {
                        return {}
                    }
                    let fill = {
                        type: 'pattern',
                        pattern: 'solid',
                        fgColor: {argb: bg.replace('#', '')}
                    }
                    return fill
                }

                var fontConvert = function (ff = 0, fc = '#000000', bl = 0, it = 0, fs = 10, cl = 0, ul = 0) { // luckysheet：ff(样式), fc(颜色), bl(粗体), it(斜体), fs(大小), cl(删除线), ul(下划线)
                    const luckyToExcel = {
                        0: '微软雅黑',
                        1: '宋体（Song）',
                        2: '黑体（ST Heiti）',
                        3: '楷体（ST Kaiti）', 
                        4: '仿宋（ST FangSong）', 
                        5: '新宋体（ST Song）', 
                        6: '华文新魏', 
                        7: '华文行楷', 
                        8: '华文隶书', 
                        9: 'Arial', 
                        10: 'Times New Roman ',
                        11: 'Tahoma ',
                        12: 'Verdana',
                        num2bl: function (num) {
                            return num === 0 ? false : true
                        }
                    }
                    
                    let font = {
                        name: luckyToExcel[ff],
                        family: 1,
                        size: fs,
                        color: {argb: fc.replace('#', '')},
                        bold: luckyToExcel.num2bl(bl),
                        italic: luckyToExcel.num2bl(it),
                        underline: luckyToExcel.num2bl(ul),
                        strike: luckyToExcel.num2bl(cl)
                    }
                    
                    return font 
                }

                var alignmentConvert = function (vt = 'default', ht = 'default', tb = 'default', tr = 'default') { // luckysheet:vt(垂直), ht(水平), tb(换行), tr(旋转)
                    const luckyToExcel = {
                        vertical: {
                            0: 'middle',
                            1: 'top',
                            2: 'bottom',
                            default: 'top'
                        },
                        horizontal: {
                            0: 'center',
                            1: 'left',
                            2: 'right',
                            default: 'left'
                        },
                        wrapText: {
                            0: false,
                            1: false,
                            2: true,
                            default: false
                        },
                        textRotation: {
                            0: 0,
                            1: 45,
                            2: -45,
                            3: 'vertical',
                            4: 90,
                            5: -90,
                            default: 0
                        }
                    }
        
                    let alignment = {
                        vertical: luckyToExcel.vertical[vt],
                        horizontal: luckyToExcel.horizontal[ht],
                        wrapText: luckyToExcel.wrapText[tb],
                        textRotation: luckyToExcel.textRotation[tr]
                    }
                    return alignment
                    
                }

                var borderConvert = function (borderType, style = 1, color = '#000') { // 对应luckysheet的config中borderinfo的的参数
                    if (!borderType) {
                        return {}
                    }
                    const luckyToExcel = {
                        type: {
                            'border-all': 'all',
                            'border-top': 'top',
                            'border-right': 'right',
                            'border-bottom': 'bottom',
                            'border-left': 'left'
                        },
                        style: {
                            0: 'none',
                            1: 'thin',
                            2: 'hair',
                            3: 'dotted',
                            4: 'dashDot', // 'Dashed',
                            5: 'dashDot',
                            6: 'dashDotDot',
                            7: 'double',
                            8: 'medium',
                            9: 'mediumDashed',
                            10: 'mediumDashDot',
                            11: 'mediumDashDotDot',
                            12: 'slantDashDot',
                            13: 'thick'
                        }
                    }
                    let template = {style: luckyToExcel.style[style], color: {argb: color.replace('#', '')}}
                    let border = {}
                    if (luckyToExcel.type[borderType] === 'all') {
                        border['top'] = template
                        border['right'] = template
                        border['bottom'] = template
                        border['left'] = template
                    } else {
                        border[luckyToExcel.type[borderType]] = template
                    }
                    return border
                }
                return await exportExcel(luckysheet)

        //版权声明：本文为CSDN博主「shiyan_Li」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
        //原文链接：https://blog.csdn.net/csdn_lsy/article/details/107179708
            }
            }
        })
</script>
</html>